PORT=5000
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_NEW_USERNAME=ten_moi
ADMIN_NEW_PASSWORD=matkhau_moi
ADMIN_NEW_NAME=Tên Mới   # optional